
<article class="upcomingShow {{show.isConfirmed}}" id="{{show.id}}">
  <div class="upComingConfirm" ng-if="show.isConfirmed">
    Show Confirmed  <i class="fa fa-check"></i>
  </div>
  <div class="upComingPending" ng-if="show.isConfirmed === false">
    Status Pending <i class="fa fa-hourglass-end"></i>
  </div>
  <h4 class="upComVenN">{{show.venueName}}</h4>

  <h5>{{show.date}}</h5>
  <section>
    <button ng-if="show.isConfirmed === false" type="button" class="btn btn-default ok confirmShow" ng-click="confirmShow(show)">Confirm Show</button>
    <button ng-show="remove" type="button" class="btn btn-default cancelshow" ng-click="dangerZone()">Cancel Show</button>
    <div ng-show="danger" class="warningSection">
      Are you sure you want to remove this show from your schedule? <br />
      <h6>Be sure to contact the venue for scheduling changes.</h6>
      <button type="button" class="btn btn-default rem" ng-click="cancelShow(show)">Remove show from Schedule</button>
      <button type="button" class="btn btn-default cancelRem" ng-click="uncancel()">Cancel</button>
    </div>
  </section>
  <button type="button" class="btn btn-default viewD" ng-show="deetsBtn" ng-click="venDeets = true; deetsBtn = false;">Details</button>
  <button type="button" class="btn btn-default Dhide" ng-show="venDeets" ng-click="venDeets = false; deetsBtn = true;">Hide</button>
  <ul ng-show="venDeets" class="upComingDeets">
    <li class="address">{{show.venueAddress}}</li>
    <li>{{show.venuePhoneNum}}</li>
    <li><a class="trueanchor" target="_blank" href="{{show.venueWebsite}}">{{show.venueWebsite}}</a></li>
  </ul>
</article>
